@import url("./index.css");
.wrap{
    background-color: #fff;
}
header.index_header{
    height: 300px;
}
.c_detail{
    display: flex;
    align-items: center;
    justify-content: center;
}
.c_detail>div{
    flex-basis: 500px;
}
.c_detail div h3{
    font-size: 2em;
    font-weight: bold;
    margin:20px;
}
.c_detail div>span{
    margin-left: 20px;
    padding: 20px;
}
.c_move{
    margin-left: 50px;
}
.c_move p{
    line-height: 50px;
}
.c_move h3{
    padding-top: 50px;
}
.c_move h4{
    margin: 20px 0;
    font-weight: bold;
    font-size: 1.6em;
}
.c_price{
    display: block;
    font-size: 1.3em;
}
.c_detail div .c_time_ch{
    display:flex;
    align-items: center;
    padding: 20px;

}
.c_time_ch li{
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
    flex-grow: 1;
}
.c_time_ch li:hover{
    background-color: black;
    color: #fff;
}
.c_buy_button{
    display: block;
    width: 150px;
    padding: 20px 30px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 50px;
    border: 2px solid black;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}
.c_buy_button:hover{
    background-color: black;
    color: #fff;
}
.c_detail{
    height: 400px;
}
.c_detail h4{
    font-size: 1.6em;
    margin: 20px 0;
}
.c_detail p{
    font-size: 1.3em;
}