@import url("./index.css");
body{
    background-color: #222;
}
header.index_header{
    height: 300px;
}
.flex_body{
    display:flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
.pic_area{
    position: relative;
    left: -100px;
    width: 325px;
    height: 325px;
    margin-bottom: 50px !important;
    border-radius: 50%;
    overflow: hidden;
}
.pic_area img{
    width: 100%;
}
.post_body{
    margin: 20px auto;
    box-shadow: 3px 3px 5px #ddd;
    background-color: aliceblue;
    color: #333;
}
.post_body h4{
    font-size: 1.6em;
    padding: 50px;
}
.post_body p{
    font-size: 1.3em;
    padding: 0px 0 50px 50px ;
    width: 500px;
}
.post_body a{
    display: block;
    position: relative;
    left:50%;
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 3px solid #333;
    text-align: center;
}